@import 'tailwindcss';

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
